Repository Zachanardo/Intellicrack: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

test-coverage-modified:
  name: Test Coverage (Modified Files - 80% minimum)
  entry: python -m pytest --cov=intellicrack --cov-fail-under=80 --cov-report=term-missing
  language: system
  pass_filenames: false
  stages:
  - pre-commit

production-readiness-audit-scoped:
  name: Production Readiness Audit (Intellicrack code only)
  entry: python tests/utils/Production_Readiness_Audit.py intellicrack --whitelist-config tests/utils/audit_whitelist.yaml --output-dir tests/reports/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-real-functionality-modified:
  name: Test Real Functionality (Modified Files)
  entry: python -m pytest tests/unit -k "not slow" --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Remove version pinning from all dev dependencies
  .secrets.baseline
  pyproject.toml
Due: none

Fix ruff linting errors in llm_backends.py
  intellicrack/ai/llm_backends.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Add Rust analysis steps to CI workflows
  .github/workflows/ci.yml
  .github/workflows/python-ci.yml
Due: none

Fix hyperframe dependency conflict - update to 6.1.0
  requirements.lock
Due: none

Speed up CI with uv package installer
  .github/workflows/ci.yml
Due: none

Remove pip cache config when using uv
  .github/workflows/ci.yml
Due: none

Fix CI: Use uv for fast installs + Fix PyO3 Python path
  .github/workflows/ci.yml
Due: none

Fix CI: PyO3 Python path and remove Python 3.13
  .github/workflows/ci.yml
Due: none

Fix PyO3 Python path configuration for CI
  .github/workflows/ci.yml
  intellicrack-launcher/.cargo/config.toml
Due: none

Fix Windows resource compilation error by adding manifest file
  .gitignore
  intellicrack-launcher/intellicrack.exe.manifest
Due: none

Fix build.rs CI detection for PyO3 Python path configuration
  intellicrack-launcher/build.rs
Due: none

Add production-ready exploitation and protection bypass implementations
  COMPREHENSIVE_FIX_PLAN.md
  intellicrack/ai/model_manager_module.py
  intellicrack/ai/predictive_intelligence.py
  intellicrack/core/analysis/cross_tool_orchestrator.py
  intellicrack/core/analysis/dynamic_analyzer.py
  intellicrack/core/analysis/radare2_esil_emulator.py
  intellicrack/core/analysis/symbolic_executor.py
  intellicrack/core/anti_analysis/process_hollowing.py
  intellicrack/core/anti_analysis/sandbox_detector.py
  intellicrack/core/c2/c2_client.py
  intellicrack/core/dashboard/dashboard_widgets.py
  intellicrack/core/exploitation/cet_bypass.py
  intellicrack/core/exploitation/crypto_key_extractor.py
  intellicrack/core/exploitation/offline_activation_emulator.py
  intellicrack/core/mitigation_bypass/stack_canary_bypass.py
  intellicrack/core/patching/adobe_compiler.py
  intellicrack/core/patching/adobe_injector.py
  intellicrack/core/patching/windows_activator.py
  intellicrack/core/protection_bypass/cloud_license.py
  intellicrack/core/protection_bypass/hardware_token.py
  intellicrack/core/protection_bypass/tpm_bypass.py
  intellicrack/ruff_report.json
  intellicrack/ui/main_window.py
  reports/IMPLEMENTATION_COMPLETION_REPORT.md
  tests/unit/core/patching/test_adobe_products_comprehensive.py
  tests/unit/core/protection_bypass/test_hardware_token.py
  tests/unit/core/protection_bypass/test_tpm_bypass.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Apply linter fixes for stack canary bypass and Adobe tests
  intellicrack/core/mitigation_bypass/stack_canary_bypass.py
  tests/unit/core/patching/test_adobe_products_comprehensive.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

No code changes detected; skipping commit.
  Dockerfile
  docker-compose.yml
  intellicrack/plugins/custom_modules/test_suite_comprehensive.py
  tests/exploitation/test_session_manager_exploitation_scenarios.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

added #[allow(non_snake_case)]
  intellicrack-launcher/build.rs
Due: none

Update .gitignore to exclude large QEMU images
  .gitignore
Due: none

Add production-ready implementations for Intellicrack modules
  .gitignore
  CLAUDE.md
  PRODUCTION_IMPLEMENTATION_TODO.md
  PRODUCTION_STANDARDS_TODO.md
  REMOVE_NUL.bat
  STUB_IMPLEMENTATION_TODO.md
  intellicrack/core/analysis/frida_advanced_hooks.py
  intellicrack/core/analysis/frida_gui_integration.py
  intellicrack/core/analysis/frida_protection_bypass.py
  intellicrack/core/analysis/ghidra_advanced_analyzer.py
  intellicrack/core/analysis/ghidra_analyzer.py
  intellicrack/core/analysis/ghidra_project_manager.py
  intellicrack/core/analysis/radare2_advanced_patcher.py
  intellicrack/core/analysis/radare2_emulator.py
  intellicrack/core/analysis/radare2_signature_detector.py
  intellicrack/core/analysis/yara_scanner.py
  intellicrack/core/dashboard/live_data_pipeline.py
  intellicrack/core/dashboard/visualization_renderer.py
  intellicrack/core/debugging_engine.py
  intellicrack/core/hardware_spoofer.py
  intellicrack/core/integration/intelligent_correlation.py
  intellicrack/core/integration/real_tool_communication.py
  intellicrack/core/license_snapshot.py
  intellicrack/core/license_validation_bypass.py
  intellicrack/core/offline_activation_emulator.py
  intellicrack/core/process_manipulation.py
  intellicrack/core/serial_generator.py
  intellicrack/core/subscription_validation_bypass.py
  intellicrack/core/trial_reset_engine.py
  intellicrack/ui/tabs/analysis_tab.py
  intellicrack/ui/tabs/exploitation_tab.py
  mock_test_todo.txt
  pyproject.toml
  tests/exploitation/test_exploitation_validation.py
  tests/exploitation/test_protection_coverage.py
  tests/production_standards/test_actual_modules.py
  tests/reports/Violations_20250926_014216.xml
  tests/reports/Violations_20250926_014530.xml
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Removed out of scope
  intellicrack/plugins/custom_modules/test_suite_comprehensive.py
  tests/exploitation/test_session_manager_exploitation_scenarios.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Rebrand GenP to Adobe Injector for Intellicrack v1.0.0
  .gitignore
  tools/AdobeInjector/AdobeInjector.exe
  tools/AdobeInjector/config.ini
  tools/AdobeInjector/wintrust.dll
Due: none

Fix 37 clippy warnings: needless_continue, redundant_else, unreadable_literal, doc_markdown
  .claude/hooks/post-tool-use.js
  .claude/hooks/principles.js
  .claude/hooks/sessionstart.js
  .claude/statusline.js
  RUST_LINTING_PROGRESS_2025-10-18.md
  SphinxTODO.txt
  intellicrack-launcher/clippy_detailed_output.txt
  intellicrack-launcher/src/flask_validator.rs
  intellicrack-launcher/src/lib.rs
  intellicrack-launcher/src/process_manager.rs
  intellicrack-launcher/src/startup_checks.rs
  intellicrack-launcher/src/tensorflow_validator.rs
  intellicrack/core/__init__.py
  intellicrack/core/execution/__init__.py
  intellicrack/core/protection_bypass/__init__.py
  intellicrack/core/reporting/__init__.py
  intellicrack/core/resources/__init__.py
  intellicrack/core/shared/__init__.py
  intellicrack/core/vulnerability_research/__init__.py
  intellicrack/protection/__init__.py
  intellicrack/ui/__init__.py
  intellicrack/ui/dialogs/__init__.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Apply cargo clippy --fix: Auto-fix 187 clippy warnings
  intellicrack-launcher/src/bin/test_python.rs
  intellicrack-launcher/src/dependencies.rs
  intellicrack-launcher/src/diagnostics.rs
  intellicrack-launcher/src/environment.rs
  intellicrack-launcher/src/flask_validator.rs
  intellicrack-launcher/src/gil_safety.rs
  intellicrack-launcher/src/lib.rs
  intellicrack-launcher/src/main.rs
  intellicrack-launcher/src/platform.rs
  intellicrack-launcher/src/process_manager.rs
  intellicrack-launcher/src/python_integration.rs
  intellicrack-launcher/src/security.rs
  intellicrack-launcher/src/startup_checks.rs
  intellicrack-launcher/src/tensorflow_validator.rs
  intellicrack/scripts/frida/websocket_interceptor.js
Due: production-readiness-audit-scoped

Add comprehensive clippy fixes summary and progress documentation
  intellicrack-launcher/CLIPPY_FIXES_SUMMARY.md
  intellicrack/core/network/traffic_analyzer.py
  intellicrack/scripts/frida/websocket_interceptor.js
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Complete subscription validation bypass - 54/54 tests passing, 0 ruff violations, production-ready JWT/OAuth/API synthesis
  FRIDA_BATCH4_COMPLETE_FIX_GUIDE.md
  JAVASCRIPT_LINTING_PROGRESS.md
  LINTING_FIX_SUMMARY_SESSION3.md
  LINTING_PROGRESS_KEYGEN_20250119.md
  intellicrack/core/subscription_validation_bypass.py
  intellicrack/scripts/frida/cloud_licensing_bypass.js
  intellicrack/scripts/frida/dotnet_bypass_suite.js
  intellicrack/scripts/frida/keygen_generator.js
  intellicrack/scripts/frida/wasm_protection_bypass.js
  keygen_errors.json
  wasm_errors.json
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Update dotnet_bypass_suite.js
  intellicrack/scripts/frida/dotnet_bypass_suite.js
Due: production-readiness-audit-scoped

Fix dotnet_bypass_suite.js linting errors: add error logging, implement missing methods
  intellicrack/scripts/frida/dotnet_bypass_suite.js
Due: production-readiness-audit-scoped

Fix wasm_protection_bypass.js: add error logging to empty catch block
  intellicrack/scripts/frida/wasm_protection_bypass.js
Due: production-readiness-audit-scoped

Fix all 44 ESLint errors in modular_hook_library.js
  intellicrack/scripts/frida/modular_hook_library.js
Due: production-readiness-audit-scoped

Path conditions:
  test-coverage-modified: any of: ^intellicrack/.*\.py$
  production-readiness-audit-scoped: any of: ^intellicrack/.*\.(py|java|js|ts)$
  test-real-functionality-modified: any of: ^intellicrack/.*\.py$
