Repository Zachanardo/Intellicrack: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-no-mocks, test-coverage, security-tests

.pre-commit-config.yaml:

repos:
  # Code formatting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=88]

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=88]

  # Linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=88, --extend-ignore=E203,W503]

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [--skip, B101,B601,B602,B603,B604,B605,B606,B607,B608,B609,B610]
        exclude: ^tests/

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports, --no-strict-optional]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      - id: debug-statements
      - id: mixed-line-ending
        args: [--fix=lf]

  # Documentation
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        args: [--convention=google]

  # Custom hook to verify no mocks in tests
  - repo: local
    hooks:
      - id: verify-no-mocks
        name: Verify No Mock Usage in Tests
        entry: python scripts/verify_no_mocks.py
        language: system
        pass_filenames: false
        files: ^tests/.*\.py$

  # Custom hook for test coverage
  - repo: local
    hooks:
      - id: test-coverage
        name: Test Coverage Check
        entry: pytest --cov=intellicrack --cov-fail-under=95 --quiet
        language: system
        pass_filenames: false
        files: \.py$
        stages: [pre-push]

  # Custom hook for security tests
  - repo: local
    hooks:
      - id: security-tests
        name: Security Tests
        entry: pytest tests/security/ -v --tb=short
        language: system
        pass_filenames: false
        files: ^(intellicrack|tests)/.*\.py$
        stages: [pre-push]

Implement comprehensive AI enhancements and UI improvements
  intellicrack/ai/ai_assistant_enhanced.py
  intellicrack/ai/ai_script_generator.py
  intellicrack/ai/ai_tools.py
  intellicrack/ai/performance_monitor_simple.py
  intellicrack/ai/qemu_test_manager.py
  intellicrack/core/anti_analysis/api_obfuscation.py
  intellicrack/core/exploitation/payload_templates.py
  intellicrack/core/exploitation/privilege_escalation.py
  intellicrack/core/network/dynamic_response_generator.py
  intellicrack/core/network/license_protocol_handler.py
  intellicrack/core/security_enforcement.py
  intellicrack/hexview/ai_bridge.py
  intellicrack/ui/dialogs/c2_management_dialog.py
  intellicrack/ui/dialogs/plugin_dialog_base.py
  intellicrack/ui/dialogs/report_manager_dialog.py
  intellicrack/ui/dialogs/vulnerability_research_dialog.py
  intellicrack/ui/exploitation_handlers.py
  intellicrack/ui/main_app.py
  intellicrack/ui/tabs/ai_assistant_tab.py
  intellicrack/ui/tabs/dashboard_tab_original.py
  intellicrack/ui/widgets/gpu_status_widget.py
Due: test-coverage, security-tests

Fix all critical F821 undefined name errors
  intellicrack/hexview/ai_bridge.py
  intellicrack/plugins/custom_modules/hardware_dongle_emulator.py
  intellicrack/scripts/simconcolic.py
  intellicrack/ui/dialogs/model_finetuning_dialog.py
  intellicrack/ui/dialogs/report_manager_dialog.py
  intellicrack/ui/dialogs/vulnerability_research_dialog.py
  intellicrack/ui/tabs/dashboard_tab_original.py
  intellicrack/utils/exploitation/exploitation.py
Due: test-coverage, security-tests

Complete final linting auto-fixes: 96.4% issues resolved
  intellicrack/hexview/ai_bridge.py
  intellicrack/ml/pattern_evolution_tracker.py
  intellicrack/ui/dialogs/vulnerability_research_dialog.py
  intellicrack/ui/main_app.py
  intellicrack/utils/exploitation/exploitation.py
  scripts/generate_vulnerable_samples.py
  scripts/verify_no_mocks.py
Due: test-coverage, security-tests

Fix final 5 critical linting errors: F601, F823 (2x), F811, F822
  docs/architecture/COMPREHENSIVE_ARCHITECTURE.md
  intellicrack/core/exploitation/privilege_escalation.py
  intellicrack/core/resources/resource_manager.py
  intellicrack/utils/core/internal_helpers.py
Due: test-coverage, security-tests

Fix pre-commit hooks to use mamba environment Python
  .pre-commit-config.yaml
  bandit-report.json
Due: none

Temporarily disable test hooks and test pre-commit setup
  .pre-commit-config.yaml
  test_hooks.txt
Due: none

Linting fixes batch 1: Critical fixes bypass hooks for rollback point
  .secrets.baseline
  check_missing_deps.py
  intellicrack/ai/performance_optimization_layer.py
  intellicrack/ai/predictive_intelligence.py
  intellicrack/ai/qemu_test_manager.py
  intellicrack/core/logging/audit_logger.py
  intellicrack/ui/tabs/tools_tab.py
  intellicrack/utils/system/system_utils.py
  tests/base_test.py
Due: verify-no-mocks, test-coverage, security-tests

Linting fixes batch 2: Complexity reduction and exception chaining
  .pre-commit-config.yaml
  .secrets.baseline
  intellicrack/ai/performance_monitor.py
  intellicrack/ai/predictive_intelligence.py
  intellicrack/ai/qemu_test_manager.py
  tests/conftest.py
  tests/conftest_original.py
Due: verify-no-mocks, test-coverage, security-tests

Recover main_app.py from pre-linting commit
  intellicrack/ui/main_app.py
Due: test-coverage, security-tests

Fix E402 import errors: Move all imports to top of files
  intellicrack/plugins/custom_modules/hardware_dongle_emulator.py
  intellicrack/plugins/custom_modules/intellicrack_core_engine.py
  intellicrack/plugins/custom_modules/license_server_emulator.py
  intellicrack/plugins/custom_modules/performance_optimizer.py
  intellicrack/plugins/custom_modules/success_rate_analyzer.py
  intellicrack/plugins/custom_modules/ui_enhancement_module.py
  intellicrack/plugins/custom_modules/vm_protection_unwrapper.py
  intellicrack/plugins/radare2_modules/radare2_keygen_assistant.py
  intellicrack/plugins/radare2_modules/radare2_license_analyzer.py
  intellicrack/protection/__init__.py
  intellicrack/protection/analysis_cache.py
  intellicrack/scripts/cli/ai_integration.py
  intellicrack/scripts/cli/ai_wrapper.py
  intellicrack/scripts/cli/config_profiles.py
  intellicrack/scripts/cli/enhanced_runner.py
  intellicrack/scripts/cli/interactive_mode.py
  intellicrack/scripts/cli/main.py
  intellicrack/scripts/cli/pipeline.py
  intellicrack/scripts/cli/progress_manager.py
  intellicrack/scripts/migrate_secrets.py
  intellicrack/ui/dialogs/common_imports.py
  intellicrack/ui/dialogs/event_handler_utils.py
  intellicrack/ui/dialogs/frida_manager_dialog.py
  intellicrack/ui/dialogs/payload_generator_dialog.py
  intellicrack/ui/dialogs/plugin_browser_utils.py
  intellicrack/ui/dialogs/preferences_dialog.py
  intellicrack/ui/dialogs/qemu_test_dialog.py
  intellicrack/ui/dialogs/smart_program_selector_dialog.py
  intellicrack/ui/main_app.py
  intellicrack/ui/menu_utils.py
  intellicrack/ui/shared_ui_layouts.py
  intellicrack/ui/tabs/analysis_tab_original.py
  intellicrack/ui/tabs/dashboard_tab_original.py
  intellicrack/ui/widgets/console_widget.py
  intellicrack/ui/widgets/plugin_editor.py
  intellicrack/ui/widgets/widget_factory.py
  intellicrack/utils/analysis/analysis_exporter.py
  intellicrack/utils/analysis/analysis_stats.py
  intellicrack/utils/analysis/entropy_utils.py
  intellicrack/utils/analysis/pattern_search.py
Due: test-coverage, security-tests

Add 17 production-ready handler files with functional fallbacks
  intellicrack/handlers/aiohttp_handler.py
  intellicrack/handlers/capstone_handler.py
  intellicrack/handlers/cryptography_handler.py
  intellicrack/handlers/frida_handler.py
  intellicrack/handlers/lief_handler.py
  intellicrack/handlers/matplotlib_handler.py
  intellicrack/handlers/numpy_handler.py
  intellicrack/handlers/pdfkit_handler.py
  intellicrack/handlers/pefile_handler.py
  intellicrack/handlers/psutil_handler.py
  intellicrack/handlers/pyelftools_handler.py
  intellicrack/handlers/pyqt6_handler.py
  intellicrack/handlers/requests_handler.py
  intellicrack/handlers/sqlite3_handler.py
  intellicrack/handlers/tensorflow_handler.py
  intellicrack/handlers/tkinter_handler.py
Due: test-coverage, security-tests

Migrate requests import to use handler
  intellicrack/models/repositories/base.py
Due: test-coverage, security-tests

Migrate sqlite3 imports to use handler
  intellicrack/ai/learning_engine.py
  intellicrack/core/c2/session_manager.py
  intellicrack/core/exploitation/credential_harvester.py
  intellicrack/core/exploitation/lateral_movement.py
  intellicrack/ml/pattern_evolution_tracker.py
  intellicrack/plugins/custom_modules/cloud_license_interceptor.py
  intellicrack/plugins/custom_modules/performance_optimizer.py
  intellicrack/plugins/custom_modules/success_rate_analyzer.py
  intellicrack/ui/dialogs/vulnerability_research_dialog.py
  intellicrack/utils/core/final_utilities.py
Due: test-coverage, security-tests

Migrate tensorflow imports to use handler
  intellicrack/ai/llm_backends.py
  intellicrack/ai/model_format_converter.py
  intellicrack/ai/model_manager_module.py
  intellicrack/core/startup_checks.py
  intellicrack/ui/main_app.py
  intellicrack/ui/main_app_pre_name_fix.py
  intellicrack/utils/core/common_imports.py
  intellicrack/utils/core/import_checks.py
  intellicrack/utils/core/internal_helpers.py
Due: test-coverage, security-tests

Update RUN_INTELLICRACK.bat
  RUN_INTELLICRACK.bat
Due: none

Fix unused catch block parameters in adobe_bypass.js
  intellicrack/scripts/frida/adobe_bypass.js
Due: none

Fix major markdown linting issues - CLI README lists, IntellicrackStructure fixes
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  dev/docs/CLI_IMPROVEMENT_PLAN.md
  dev/docs/LINTING_FIXES_SUMMARY.md
  dev/reports/placeholder_code_report.md
  docs/README.md
  intellicrack/cli/README.md
  intellicrack/scripts/ROOT_SCRIPTS_README.md
  intellicrack/scripts/frida/ai_scripts/ai_3d72c547_20250817_041722.js
  intellicrack/scripts/frida/anti_debugger.js
  intellicrack/ui/dialogs/vulnerability_research_dialog.py
Due: test-coverage, security-tests

Additional markdown fixes: Ghidra README duplicate headings resolved
  intellicrack/ui/dialogs/vulnerability_research_dialog.py
Due: test-coverage, security-tests

Complete markdown linting summary: 113+ errors resolved, 1087 remaining
  LINTING_PROGRESS_markdown_20250824.md
Due: none

Pre-linting safety commit: save current state
  c901_violations.json
  comprehensive_indent_fix.py
  final_fix.py
  find_s110.py
  fix_all_try_indents.py
  fix_indentation.py
  fix_s110_violations.py
  fix_vulnerability_dialog.py
  intellicrack/handlers/capstone_handler.py
  intellicrack/hexview/data_inspector.py
  intellicrack/plugins/custom_modules/demo_plugin.py
  intellicrack/plugins/custom_modules/license_server_emulator.py
  intellicrack/scripts/frida/drm_bypass.js
  intellicrack/scripts/frida/http3_quic_interceptor.js
  intellicrack/scripts/frida/kernel_bridge.js
  intellicrack/scripts/frida/kernel_mode_bypass.js
  intellicrack/scripts/frida/memory_integrity_bypass.js
  intellicrack/scripts/frida/ml_license_detector.js
  intellicrack/scripts/frida/modular_hook_library.js
  intellicrack/scripts/frida/ntp_blocker.js
  intellicrack/ui/dialogs/common_imports_old.py
  intellicrack/ui/dialogs/guided_workflow_wizard.py
  intellicrack/ui/dialogs/vulnerability_research_dialog.py
  intellicrack/ui/widgets/pe_structure_model.py
  intellicrack/utils/dependency_fallbacks.py
  intellicrack/utils/gpu_benchmark.py
  intellicrack/utils/patching/patch_verification.py
  refactor_data_inspector.py
  refactor_decode_instruction.py
  refactor_fingerprint.py
  refactor_horizontal_slider.py
  refactor_patch_method.py
  refactor_update_summary.py
  robust_fix.py
  s603_violations.json
  smart_fix_indentation.py
Due: test-coverage, security-tests

ROLLBACK POINT 1: Added necessary imports
  c901_violations.json
  comprehensive_indent_fix.py
  final_fix.py
  find_real_s603_violations.py
  find_subprocess_calls.py
  fix_all_try_indents.py
  fix_indentation.py
  intellicrack/plugins/custom_modules/license_server_emulator.py
  intellicrack/scripts/frida/realtime_protection_detector.js
  linting_issues.json
  refactor_data_inspector.py
  refactor_decode_instruction.py
  refactor_fingerprint.py
  refactor_horizontal_slider.py
  refactor_patch_method.py
  refactor_update_summary.py
  robust_fix.py
  s603_violations.json
  smart_fix_indentation.py
Due: test-coverage, security-tests

ROLLBACK POINT 2: Fixed all critical linting issues - S607, S311, F821, F401, C901 resolved
  .rumdl.toml
  CLAUDE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LINTING_PROGRESS_markdown_20250824.md
  README.md
  docs/LINTING_SETUP.md
  intellicrack/plugins/custom_modules/license_server_emulator.py
  intellicrack/utils/patching/patch_verification.py
Due: test-coverage, security-tests
