Repository Zachanardo/Intellicrack: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

test-coverage-modified:
  name: Test Coverage (Modified Files - 80% minimum)
  entry: python -m pytest --cov=intellicrack --cov-fail-under=80 --cov-report=term-missing
  language: system
  pass_filenames: false
  stages:
  - pre-commit

production-readiness-audit-scoped:
  name: Production Readiness Audit (Intellicrack code only)
  entry: python tests/utils/Production_Readiness_Audit.py intellicrack --whitelist-config tests/utils/audit_whitelist.yaml --output-dir tests/reports/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-real-functionality-modified:
  name: Test Real Functionality (Modified Files)
  entry: python -m pytest tests/unit -k "not slow" --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Fix all 47 ESLint errors in websocket_interceptor.js
  intellicrack/scripts/frida/websocket_interceptor.js
Due: production-readiness-audit-scoped

Fix all 66 ESLint errors in virtualization_bypass.js
  intellicrack/scripts/frida/virtualization_bypass.js
Due: production-readiness-audit-scoped

Update Template-removal.md: Document completion of Phases 1-3
  Template-removal.md
Due: none

Complete Phase 4: Documentation for template removal
  README.md
  Template-removal.md
  docs/TEMPLATE_REMOVAL_MIGRATION.md
Due: none

Fix critical pre-commit hook issues
  .pre-commit-config.yaml
Due: none

Update directory structure files after pre-commit hook fixes
  IntellicrackStructure.hta
  IntellicrackStructure.txt
Due: none

Remove examples directory and update documentation
  DISTRIBUTED_ANALYSIS_IMPLEMENTATION.md
  DISTRIBUTED_FILES_SUMMARY.md
  docs/DISTRIBUTED_ANALYSIS.md
  docs/DISTRIBUTED_QUICKSTART.md
  docs/STALKER_QUICK_START.md
  examples/advanced_anti_debug_bypass_example.py
  examples/angr_license_cracking_example.py
  examples/control_flow_deobfuscation_demo.py
  examples/distributed_analysis_cluster.py
  examples/distributed_analysis_local.py
  examples/esil_emulation_example.py
  examples/esil_emulator_demo.py
  examples/integrity_check_bypass_example.py
  examples/intelligent_patching_demo.py
  examples/ml_classification_demo.py
  examples/ml_simple_demo.py
  examples/opaque_predicate_removal_example.py
  examples/sandbox_detection_example.py
  examples/session_management_demo.py
  examples/stalker_usage_example.py
  examples/streaming_analysis_demo.py
  examples/tpm_bypass_example.py
  examples/vm_detection_demo.py
  intellicrack/ai/ai_agent.py
  intellicrack/core/ml/README.md
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

WIP: 2025-10-26 16:17:21
  .claude/settings.local.json
  IntellicrackStructure.hta
  IntellicrackStructure.txt
  pixi.toml
  pyproject.toml
  scripts/analyze_dependencies.py
Due: none

Fix Phase 1 linting errors - all 10 errors resolved
  CERTIFICATE_BYPASS_IMPLEMENTATION_PLAN.md
  intellicrack/core/certificate/api_signatures.py
  intellicrack/core/certificate/binary_scanner.py
  intellicrack/core/certificate/frida_cert_hooks.py
  intellicrack/core/certificate/frida_scripts/android_pinning.js
  intellicrack/core/certificate/frida_scripts/cryptoapi_bypass.js
  intellicrack/core/certificate/frida_scripts/ios_pinning.js
  intellicrack/core/certificate/frida_scripts/openssl_bypass.js
  intellicrack/core/certificate/frida_scripts/schannel_bypass.js
  intellicrack/core/certificate/frida_scripts/universal_ssl_bypass.js
  intellicrack/core/certificate/frida_scripts/winhttp_bypass.js
  intellicrack/core/certificate/validation_detector.py
  pyproject.toml
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Fix Phase 2 linting errors and mark checklist complete
  CERTIFICATE_BYPASS_IMPLEMENTATION_PLAN.md
  intellicrack/core/certificate/cert_patcher.py
  intellicrack/core/certificate/patch_generators.py
  intellicrack/core/certificate/patch_templates.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Implement Phase 4: Certificate chain generation and caching
  CERTIFICATE_BYPASS_IMPLEMENTATION_PLAN.md
  intellicrack/core/certificate/cert_cache.py
  intellicrack/core/certificate/cert_chain_generator.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Implement Phase 5: Bypass orchestration and strategy selection
  CERTIFICATE_BYPASS_IMPLEMENTATION_PLAN.md
  intellicrack/core/certificate/bypass_orchestrator.py
  intellicrack/core/certificate/bypass_strategy.py
  pyproject.toml
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Fix remaining linting errors in frida_cert_hooks.py
  intellicrack/core/certificate/frida_cert_hooks.py
  pyproject.toml
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Implement production-ready MITM and verification functions
  ANALYSIS_TODO2_REVIEW_COMPLETE.md
  CRITICAL_FIXES_COMPLETE.md
  DISTRIBUTED_ANALYSIS_IMPLEMENTATION.md
  DISTRIBUTED_FILES_SUMMARY.md
  DiagnoseBinwalk.py
  IMPLEMENTATION_COMPLETE.md
  IMPLEMENTATION_COMPLETE_POLYMORPHIC.md
  analysis-todo4.md
  intellicrack/core/certificate/bypass_orchestrator.py
  intellicrack/ml/pattern_evolution_tracker.py
  pyproject.toml
  pyproject.toml.bak
  test_results.txt
  tests/functional/binary_analysis/test_polymorphic_basic.py
  tests/functional/binary_analysis/test_polymorphic_direct.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Fix implementation plan: manually uncheck incorrectly marked Phases 6-11
  CERTIFICATE_BYPASS_IMPLEMENTATION_PLAN.md
Due: none

Implement Phase 6: Anti-detection & evasion for certificate bypass
  CERTIFICATE_BYPASS_IMPLEMENTATION_PLAN.md
  intellicrack/ai/resilience_self_healing.py
  intellicrack/core/certificate/frida_stealth.py
  intellicrack/core/certificate/hook_obfuscation.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Implement Phase 7: Certificate pinning detection (static analysis)
  CERTIFICATE_BYPASS_IMPLEMENTATION_PLAN.md
  intellicrack/core/certificate/apk_analyzer.py
  intellicrack/core/certificate/pinning_detector.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Implement Phase 8: Multi-layer certificate validation bypass
  CERTIFICATE_BYPASS_IMPLEMENTATION_PLAN.md
  intellicrack/core/certificate/layer_detector.py
  intellicrack/core/certificate/multilayer_bypass.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

WIP: 2025-10-27 21:59:23
  CERTIFICATE_BYPASS_IMPLEMENTATION_PLAN.md
  POLYMORPHIC_FINAL_REPORT.md
  POLYMORPHIC_IMPLEMENTATION_SUMMARY.md
  RENAME_COMPLETE.md
  SANDBOX_DETECTION_ENHANCEMENTS.md
  SECUROM_IMPLEMENTATION_COMPLETE.md
  SECUROM_QUICKSTART.md
  STREAMING_ANALYSIS_IMPLEMENTATION_COMPLETE.md
  docs/ADVANCED_ANTI_DEBUG_BYPASS.md
  intellicrack/core/anti_analysis/__init__.py
  intellicrack/core/anti_analysis/advanced_debugger_bypass.py
  intellicrack/core/anti_analysis/debugger_bypass.py
  intellicrack/ui/ui_manager.py
  tests/unit/core/anti_analysis/test_advanced_debugger_bypass.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Implement Phase 10 unit tests for certificate bypass modules
  CERTIFICATE_BYPASS_IMPLEMENTATION_PLAN.md
  intellicrack/cli/cli.py
  intellicrack/core/certificate/api_signatures.py
  intellicrack/core/certificate/apk_analyzer.py
  intellicrack/core/certificate/binary_scanner.py
  intellicrack/core/certificate/bypass_orchestrator.py
  intellicrack/core/certificate/bypass_strategy.py
  intellicrack/core/certificate/cert_cache.py
  intellicrack/core/certificate/cert_chain_generator.py
  intellicrack/core/certificate/cert_patcher.py
  intellicrack/core/certificate/detection_report.py
  intellicrack/core/certificate/frida_cert_hooks.py
  intellicrack/core/certificate/frida_stealth.py
  intellicrack/core/certificate/hook_obfuscation.py
  intellicrack/core/certificate/layer_detector.py
  intellicrack/core/certificate/multilayer_bypass.py
  intellicrack/core/certificate/patch_generators.py
  intellicrack/core/certificate/patch_templates.py
  intellicrack/core/certificate/pinning_detector.py
  intellicrack/core/certificate/validation_detector.py
  tests/unit/core/certificate/__init__.py
  tests/unit/core/certificate/conftest.py
  tests/unit/core/certificate/test_cert_patcher.py
  tests/unit/core/certificate/test_frida_hooks.py
  tests/unit/core/certificate/test_orchestrator.py
  tests/unit/core/certificate/test_validation_detector.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Fix Intel GPU handler crash + implement Phase 10 unit tests
  intellicrack/handlers/ipex_handler.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Fix test failures in validation detector
  intellicrack/core/certificate/validation_detector.py
  intellicrack/ui/main_app.py
  tests/unit/core/certificate/conftest.py
  tests/unit/core/certificate/test_validation_detector.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

GUI improvements: plugin caching and cleanup
  intellicrack/core/certificate/cert_patcher.py
  tests/unit/core/certificate/test_cert_patcher.py
  tests/unit/ui/test_plugin_caching.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Fix test failures across cert_patcher, frida_hooks, orchestrator
  intellicrack/core/certificate/frida_cert_hooks.py
  tests/unit/core/certificate/conftest.py
  tests/unit/core/certificate/test_frida_hooks.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Fix remaining 5 test_orchestrator.py failures - ALL 110 TESTS PASSING
  tests/unit/core/certificate/test_orchestrator.py
Due: none

Fix CRITICAL path injection vulnerability in plugin cache
  intellicrack/ui/main_app.py
  tests/unit/ui/test_plugin_caching.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Fix HIGH severity race condition in plugin cache
  intellicrack/ui/main_app.py
  tests/unit/ui/test_plugin_caching.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Phase 1: Implement process optimization module
  intellicrack-launcher/src/process_optimization.rs
Due: none

Phase 2: Tool discovery module (formatting updates)
  intellicrack-launcher/src/tool_discovery.rs
Due: none

Fix SIM117 linting issue: combine nested with statements
  intellicrack/ui/main_app.py
  tests/unit/ui/test_plugin_caching.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Fix HIGH severity stale cache entries for deleted directories
  intellicrack/ui/main_app.py
  tests/unit/ui/test_plugin_caching.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Refactor cache validation to reduce cyclomatic complexity
  GUI-TODO.md
  intellicrack/ui/main_app.py
  tests/unit/ui/test_plugin_caching.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Eliminate redundant file I/O in cache operations
  GUI-TODO.md
  intellicrack/ui/main_app.py
  tests/unit/ui/test_plugin_caching.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Fix linting issues from refactoring commits
  intellicrack/ui/main_app.py
  tests/unit/ui/test_plugin_caching.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Suppress S108 linting warning for intentional security test
  tests/unit/ui/test_plugin_caching.py
Due: none

Fix binary file handling in plugin validation
  GUI-TODO.md
  intellicrack/ui/main_app.py
  tests/unit/ui/test_plugin_caching.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Refactor plugin loading to use pathlib consistently
  GUI-TODO.md
  intellicrack/ui/main_app.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Extract is_cache_valid() as testable private class method
  GUI-TODO.md
  intellicrack/ui/main_app.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Path conditions:
  test-coverage-modified: any of: ^intellicrack/.*\.py$
  production-readiness-audit-scoped: any of: ^intellicrack/.*\.(py|java|js|ts)$
  test-real-functionality-modified: any of: ^intellicrack/.*\.py$
