Repository Zachanardo/Intellicrack: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

test-coverage-modified:
  name: Test Coverage (Modified Files - 80% minimum)
  entry: python -m pytest --cov=intellicrack --cov-fail-under=80 --cov-report=term-missing
  language: system
  pass_filenames: false
  stages:
  - pre-commit

production-readiness-audit-scoped:
  name: Production Readiness Audit (Intellicrack code only)
  entry: python tests/utils/Production_Readiness_Audit.py intellicrack --whitelist-config tests/utils/audit_whitelist.yaml --output-dir tests/reports/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-real-functionality-modified:
  name: Test Real Functionality (Modified Files)
  entry: python -m pytest tests/unit -k "not slow" --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Replace magic string literals with class constants
  GUI-TODO.md
  intellicrack/ui/main_app.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Mark symlink handling task as complete
  GUI-TODO.md
Due: none

Refactor cert_patcher to use pathlib consistently
  GUI-TODO.md
  intellicrack/core/certificate/cert_patcher.py
  tests/unit/core/certificate/test_cert_patcher.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

WIP: 2025-10-31 22:21:23
  README.md
  Rust-launch-expansion.md
  intellicrack-launcher/src/environment.rs
  intellicrack-launcher/src/gil_safety.rs
  intellicrack-launcher/src/lib.rs
  intellicrack-launcher/src/python_integration.rs
  intellicrack-launcher/tests/integration.rs
  intellicrack/main.py
  justfile
  launch_intellicrack.py
  pixi.toml
  tests/test_full_rust_launch.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

WIP: 2025-10-31 22:36:38
  IntellicrackStructure.hta
  IntellicrackStructure.txt
  pyproject-export.toml
  pyproject.toml
  requirements-pixi.txt
Due: none

WIP: 2025-10-31 22:59:14
  .github/workflows/python-ci.yml
  IntellicrackStructure.txt
Due: none

WIP: 2025-10-31 23:11:16
  IntellicrackStructure.txt
Due: none

Update IntellicrackStructure.txt
  IntellicrackStructure.txt
Due: none

WIP: 2025-10-31 23:32:29
  .github/workflows/ci.yml
  .github/workflows/python-ci.yml
  IntellicrackStructure.txt
  PIXI_SETUP.md
  pixi.toml
  pyproject.toml
Due: none

Update directory structure files from pre-push hook
  IntellicrackStructure.txt
Due: none

Fix CI: Add CPU PyTorch to ci environment
  IntellicrackStructure.txt
  pixi.toml
Due: none

WIP: 2025-11-01 00:10:30
  IntellicrackStructure.txt
Due: none

WIP: 2025-11-01 02:14:31
  .github/codeql/codeql-config.yml
  .github/dependabot.yml
  .github/workflows/codeql.yml
  IntellicrackStructure.txt
  SECURITY.md
  intellicrack-launcher/src/lib.rs
  intellicrack/data/templates/README.md
  intellicrack/handlers/keystone_handler.py
  intellicrack/main.py
  pyproject.toml
  tests/test_full_rust_launch.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Update directory structure files from pre-push hook
  IntellicrackStructure.hta
  IntellicrackStructure.txt
Due: none

Potential fix for code scanning alert no. 25: Implicit narrowing conversion in compound assignment
  intellicrack/scripts/ghidra/AdvancedAnalysis.java
Due: production-readiness-audit-scoped

Add qodana.yaml file
  qodana.yaml
Due: none

Add github workflow file
  .github/workflows/qodana_code_quality.yml
Due: none

WIP: 2025-11-05 21:25:54
  Scanner.lnk
  TODO.xml
  intellicrack-launcher/src/python_integration.rs
  intellicrack/scripts/ghidra/anti_analysis_detector.py
  scripts/README.md
  scripts/scanner/.cargo/config.toml
  scripts/scanner/.scannerignore
  scripts/scanner/Cargo.toml
  scripts/scanner/build.rs
  scripts/scanner/production_scanner.rs
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

WIP: 2025-11-07 15:12:56
  .intellicrack_scan_cache.json
  IntellicrackStructure.hta
  IntellicrackStructure.txt
  SCANNER_FIX_RESULTS.md
  SCANNER_VERIFICATION_REPORT.md
  TODO.xml
  intellicrack/.intellicrack_scan_cache.json
  intellicrack/TODO.xml
  intellicrack/ai/.intellicrack_scan_cache.json
  intellicrack/ai/TODO.xml
  intellicrack/ai/integration_manager.py
  intellicrack/cli/cli.py
  intellicrack/core/TODO.xml
  intellicrack/core/analysis/.intellicrack_scan_cache.json
  intellicrack/core/analysis/TODO.xml
  intellicrack/core/anti_analysis/__init__.py
  intellicrack/core/anti_analysis/advanced_debugger_bypass.py
  intellicrack/core/anti_analysis/debugger_bypass.py
  intellicrack/handlers/ipex_handler.py
  intellicrack/main.py
  intellicrack/scripts/ghidra/.intellicrack_scan_cache.json
  intellicrack/scripts/ghidra/AntiAnalysisDetector.py
  intellicrack/scripts/ghidra/TODO.xml
  intellicrack/scripts/ghidra/__init__.py
  intellicrack/scripts/ghidra/anti_analysis_detector.py
  intellicrack/ui/dialogs/frida_manager_dialog.py
  intellicrack/ui/ui_manager.py
  intellicrack/ui/widgets/intellicrack_protection_widget.py
  intellicrack/utils/binary/network_api_analysis.py
  scanner_results.md
  scripts/analyze_dependencies.py
  scripts/scanner/.intellicrack_scan_cache.json
  scripts/scanner/TODO.xml
  scripts/scanner/production_scanner.rs
  scripts/scanner/test_weak_code.py
  scripts/scanner/test_weak_js.js
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

WIP: 2025-11-09 19:47:18
  IntellicrackStructure.hta
  IntellicrackStructure.txt
Due: none

Fix CI dependency resolution by separating solve-groups
  pixi.toml
Due: none

Fix syntax errors - unterminated strings and indentation issues
  IntellicrackStructure.hta
  IntellicrackStructure.txt
  LINTING_PROGRESS_20251111.md
  cyclic_imports_report.txt
  cyclic_imports_report_v2.txt
  intellicrack/ai/multi_agent_system.py
  intellicrack/core/license_validation_bypass.py
  intellicrack/core/protection_analyzer.py
  intellicrack/core/startup_checks.py
  intellicrack/ui/dashboard_manager.py
  intellicrack/ui/main_app.py
  intellicrack/ui/main_window.py
  intellicrack/ui/ui_manager.py
  tests/unit/ai/test_api_provider_clients.py
  tests/unit/ai/test_llm_fallback_chains.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Pin dpctl version in pixi.toml to prevent resolution conflicts
  pixi.toml
Due: none

Fix dpctl version regression to 0.20.2
  pyproject.toml
Due: none

Fix dask version to match distributed 2025.11.0
  pyproject.toml
Due: none

Add 'just watch' recipe for monitoring CI runs
  justfile
Due: none

deps: Update pyo3 to 0.27, jiter to <0.13, and nix to 0.30
  intellicrack-launcher/Cargo.toml
  pyproject.toml
Due: none

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

WIP: 2025-11-16 15:42:43
  IntellicrackStructure.hta
  IntellicrackStructure.txt
  intellicrack/utils/binary/certificate_extractor.py
  intellicrack/utils/gpu_benchmark.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

WIP: 2025-11-16 15:48:07
  IntellicrackStructure.hta
  IntellicrackStructure.txt
  intellicrack/ai/__init__.py
  intellicrack/ai/interactive_assistant.py
  intellicrack/ai/qemu_test_manager_enhanced.py
  intellicrack/utils/binary/certificate_extractor.py
  intellicrack/utils/secrets_manager.py
  pyproject.toml
  scripts/scanner/analyze_results.py
Due: test-coverage-modified, production-readiness-audit-scoped, test-real-functionality-modified

Path conditions:
  test-coverage-modified: any of: ^intellicrack/.*\.py$
  production-readiness-audit-scoped: any of: ^intellicrack/.*\.(py|java|js|ts)$
  test-real-functionality-modified: any of: ^intellicrack/.*\.py$
